/* This file is for basic styling of the app. */
/* It includes styles for buttons, inputs, and other elements*/
/* It is a simple CSS file that can be extended as needed. */
/* All reusable styles should be added here. */



/* Core components */

/* Form elements */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"] {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color); 
  border-radius: var(--radius);
  padding: 12px 24px;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: inset 0 0 5px rgba(76, 175, 80, 0.5);
}

::placeholder {
  color: var(--placeholder-text);
  font-style: italic;
}

.form-content {
  color: var(--secondary-text);
}

.form-content:focus {
  color: var(--text-color);
  font-style: normal;
}

/* Form layout helpers */
.form-row {
  display: flex;
  gap: 16px;
}

.form-row input {
  flex: 1;
}

/* Button styling */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--primary);
  color: white;
  border-radius: var(--radius);
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-align: center;
}

.btn:hover {
  background-color: var(--primary-dark);
}

.btn:active {
  background-color: var(--primary-darker);
}

/* Submit button - extends the btn class */
.submit-btn {
  width: 40%;
  font-family: var(--primary-font);
  font-size: clamp(16px, 4vw, 26px);
  margin: 20px auto 0;
  position: relative;
}

/* Layout Components */

/* Container for registration */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 474px;
  padding: 32px;
  margin: 48px auto;
  border: 3px solid var(--border-color);
  background-color: var(--light-bg);
}

.form-box {
  width: 315px;
  display: flex;
  flex-direction: column;
  background-color: var(--light-bg);
}

.form-box h1 {
  margin-bottom: 48px;
  text-align: center;
}

.form-box form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* Form responsiveness */
  .form-row {
    flex-direction: column;
    gap: 24px;
  }
  
  .form-group {
    width: 100%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="number"] {
    width: 100%;
    max-width: 361px;
  }
  
  .register-container {
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 32px 0;
  }
  
  .submit-btn {
    font-size: 16px;
  }
}
