@import url(register-form.css);
@import url(register-header-footer.css);
@import url(variables.css);

:root {
    --text-color: #333333;
    --bg-color: #ffffff;
    --link-hover-color: #0070f3;
  
    --max-width: 1200px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    font-family: var(--primary-font, poppins), sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
  
  a:hover {
    color: var(--link-hover-color);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 0.5em;
  }
  
  .logo {
    height: 100%;
    display: block;
  }

  ul,
  ol {
    list-style: none;
  }
  

 
    