@import url(../header.css);
@import url(../footer.css);
@import url(login-defaults.css);
@import url(login-alert.css);

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 474px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 48px;
  border-style: solid;
  border-width: 3px;
  border-color: #cccccc;
}

.login-form {
  width: 315px;

  h1 {
    margin-bottom: 48px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .forgot-password {
    display: flex;
    align-items: center;
    height: 43px;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  .email-container {
    display: flex;
    flex-direction: column;
    gap: 0px;

    .email {
      border-color: #cccccc;
    }

    .email-error {
      display: none;
      margin-top: 8px;
      color: #ff5722;
    }
  }

  .password-container {
    display: flex;
    flex-direction: column;
    gap: 0px;

    .password {
      border-color: #cccccc;
    }

    .password-error {
      display: none;
      margin-top: 8px;
      color: #ff5722;
    }
  }
}

.forgot-password {
  a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  }

  a:visited {
  color: #000000;
  }
}

@media only screen and (max-width: 768px) {
  .login-container {
    width: 100%;
    max-width: 361px;
    min-width: 200px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;

    .email-container {
      gap: 16px;
    }

    .password-container {
      gap: 16px;
    }
  }

  .login-form {
    width: 361px;

    h1 {
      margin-bottom: 48px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .forgot-password {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 43px;
      font-size: 14px;
      font-weight: 300;
    }

    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 361px;
      min-width: 200px;
    }
  }
}
