header{
    background-color: #F5F5F5;
    border-bottom: solid #CCCCCC;
    height: 176px;
    margin-bottom: 120px;
}

nav img{
    padding-left: 48px;
    height: 176px;
    margin-top: -30px;
}
#profileicon {
    max-height: 64px;
    margin-top: -100px;
    margin-left: 20px;
}

nav ul{
    display: inline-flex;
    float: right;
    margin-top: -130px;
    margin-right: 50px;
}

nav a{
    padding: 80px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Poppins';
    color: #333333;
}

    header nav a {
    text-decoration: none;
  }

  header nav ul a {
    position: relative; 
    text-decoration: none;
  }

  footer{
    background-color: #F5F5F5;
    height: 250px;
    margin-top: 200px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footercircles{
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: -250px;
}

.sidebar img {
    width: 41px;
    height: 41px;
}

h1{
  text-align: center;
  font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
}

.search-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#addresultbutton{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    border-radius: 6px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #FFFFFF;
    border: none;
}

#backtodashboardbutton{
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 600;
    color: #2196F3;
    border-style: solid;
    padding: 8px 18px;
    border-radius: 6px;
    border-color: #2196F3;
    background: transparent;
}

