header {
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid #cccccc;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #F5F5F5;
  font-size: 20px;
}

.logo-header {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.logo-header img {
  width: 150px;
}

.logo-desktop {
  display: block;
}

.logo-mobile {
  display: none;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  position: relative;
  padding: 0 30px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

nav.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav a.active::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #4CAF50;
}

.profile-icon {
  width: 50px;
  height: 50px;
}

.menu-icon {
  display: none;
}


footer {
display: flex;
justify-content: center;
position: relative;
margin-top: auto;
}

.footer-img {
display: block;
width: 685px;
height: 246px;
object-fit: cover;
object-position: top;
}

.mobile-footer-img {
display: none;
width: 375px;
height: 209px;
object-fit: cover;
object-position: 24px 0;
}